<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../public/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous" defer></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>API THEATER</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
        <form class="form-inline" id="newBookForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Movie Title">
          </div>
          <div class="form-group">
            <label for="title">Director</label>
            <input type="text" class="form-control" name="director" placeholder="Movie Director">
          </div>
          <div class="form-group">
            <label for="title">Year Released</label>
            <input type="text" class="form-control" name="yearOfRelease" placeholder="Year Released">
          </div>
          <button type="submit" class="btn btn-default">Create Movie</button>
        </form>  
      </div>
    </div>
   <div class ='list-container'></div>
  </body>
</html>
