body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke; 
  background: center center no-repeat url('../images/theater.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
}

.container {
	height: 100vh;
}